<div class="container">
  <div class="input-container">
    <label for="input-1" class="label-for-inputs">I refueled:</label>
    <input
      id="input-1"
      value="Type here..."
      type="number"
      class="input-field"
      required
    />
  </div>
  <div class="input-container">
    <label for="input-1" class="label-for-inputs">Distance:</label>
    <input
      id="input-1"
      value="Type here..."
      type="number"
      class="input-field"
      required
    />
  </div>
  <div class="input-container">
    <label for="input-1" class="label-for-inputs">Average consumption:</label>
    <input
      id="input-1"
      value="Type here..."
      type="number"
      class="input-field"
    />
  </div>
</div>
