<div class="container">
  <img class="nav-back-btn" routerLink="/app-option-selector" src="/assets/img/return.png" />
  <form [formGroup]="form">
  <div class="input-container">

    <label for="input-1" class="label-for-inputs">I refueled:</label>
    <input
      formControlName="refueled"
      id="input-1"
      value="Type here..."
      type="number"
      class="input-field"
      required
    />
  </div>
  <div class="input-container">
    <label for="input-1" class="label-for-inputs">Distance:</label>
    <input
    formControlName="distance"
      id="input-1"
      value="Type here..."
      type="number"
      class="input-field"
      required
    />
  </div>
  <div class="input-container">
    <label for="input-1" class="label-for-inputs">Average consumption:</label>
    <input
    formControlName = "consumption"
      id="input-1"
      value="Type here..."
      type="number"
      class="input-field"
    />
    
  </div>
  </form>
</div>
