* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-width: 0px
  }


.container {
  position: relative;
  margin: auto;
  display: flex;
  width: 400px;
  height: 500px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(rgb(26, 42, 221),rgb(238, 236, 85));
}

.selector {
    background-color: rgb(94, 92, 207);
    width: 150px;
    height: 50px;
    border: 1px solid rgb(25, 28, 44);
    color: white;
}

.nav-back-btn {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0px;
  left: 10px;
}


